<div class="containerExerciseUpload">
  <div class="textInput">
    <h3>Rutina</h3>
    <div class="entrada">
      <span>Nombre: </span>
      <input
        type="text"
        required
        name="nameRoutine"
        [(ngModel)]="nameRoutine"
        placeholder="Nombre de la rutina"
      />
    </div>
  </div>
  <div class="exercisesLoaded">
    <div *ngFor="let exercise of shareValues.getExerciseUpload()">
      <app-tarjeta-exercise-upload
        style="margin: 10px"
        [name]="exercise?.name!"
      ></app-tarjeta-exercise-upload>
    </div>
  </div>
  <div class="buttonSave">
    <button type="button" (click)="saveRoutine()">Save rutine</button>
  </div>
</div>
