.menu-principal {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height:1100px;
}

.tarjetas{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  width: 100%;
}
