.container_rutine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    font-size: 1.5rem;
    font-weight: 800;
    color: rgba(20, 92, 171);
    margin-top: 3rem;
    margin-bottom: rem;
  }

  img {
    width: 600px;
    height: 600px;
    margin-top: 3rem;
    margin-right: 100px;
  }

  .container_rutine_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

}

.containerRutinesSaved {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .tituloSaved {

  }

}


h2 {
  font-size: 100px;
  font-weight: 800;
  letter-spacing: -.06em;
  text-align: center;
  margin: 0 0 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

span {
  color: rgb(0,0,0);
  display: block;
  position: relative;
  line-height: 1.1;
  padding: 0 12px;
}

span::before {
  background: linear-gradient(90deg, var(--start-color), var(--end-color));
  content: var(--content);
  position: absolute;
  inset: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  animation: animated 9s infinite;
  animation-delay: var(--delay);
}

@keyframes animated {
  0%, 16.667%, 100% {
    opacity: 1;
  }
  33.3333%, 83.333% {
    opacity: 0;
  }
}
