<div *ngIf="rutinesSaved.length === 0; then thenBlock; else elseBlock"></div>

<ng-template #thenBlock>
  <div class="container_rutine">
    <div class="titulo">
      <h3> No existen rutinas</h3>
    </div>

    <div class="container_image">
      <img id="imagen" src="./assets/homer.png"/>
    </div>
  </div>

</ng-template>

<ng-template #elseBlock>
  <div class="containerRutinesSaved">
    <div class="tituloSaved">
      <h2>
        <span style='--content: "Mis."; --start-color: #007CF0; --end-color: #00DFD8; --delay: 0s;'> Mis </span>
        <span style='--content: "Rutinas."; --start-color: #007CF0; --end-color: #ff0080; --delay: 3s;'> Rutinas </span>
        <span style='--content: "Guardas."; --start-color: #007CF0; --end-color: #F9CB28; --delay: 6s;'> Guardadas </span>
      </h2>

    </div>

    <div class="fraseScrapping">
      <h3> Aqui va la frase motivacional </h3>
    </div>
    <div class="rutinasSaved">
      <div *ngFor="let routine of routineService.getRoutines() | async">
        <h4> {{routine.name}}</h4>
      </div>
    </div>
  </div>
  </ng-template>
