<div *ngFor="let rutine of exerciseApiSavedBackend">
  <div class="containerRoutinesSaved">
    <div class="titulo">
      <h4>Rutina: {{ rutine.name }}</h4>
    </div>

    <div class="fraseScrapping">
      <app-frase></app-frase>
    </div>

    <div class="exercises">
      <div *ngFor="let exercise of rutine.exercises">
        <app-tarjeta-exercise-saved
          style="margin: 10px"
          [name]="exercise?.name!"
          [gifUrl]="exercise?.gifUrl!"
          [bodyPart]="exercise?.bodyPart!"
          [equipment]="exercise?.equipment!"
          [target]="exercise?.target!"
        ></app-tarjeta-exercise-saved>
      </div>
    </div>

    <div class="buttonBorrarRutina">
      <button class="button-78" type="button" (click)="deleteRoutine(rutine.name)">Borrar Rutina</button>
    </div>
  </div>
</div>
