<aside>
  <nav class="container-aside">
    <div class="text-nav">
      <h3>ExerciseDB</h3>
    </div>

    <div class="options">
      <ul>
        <li>
          <a href="#">
            <img id="imgpesa" src="./assets/pesa.png" />
          </a>
          <span><br>Equipamiento</span>
        </li>
        <li>
          <a href="#">
            <img id="imgrutina" src="../assets/rutina.png" />
          </a>
          <span><br>Rutinas</span>
        </li>
      </ul>
    </div>
  </nav>
</aside>
