<!DOCTYPE html>
<html lang="en">
  <head>Exercise</head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                Menu
              </h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="menu">Menu</label>
                    <select class="form-control" id="menu">
                      <option>Select Menu</option>
                      <option>Menu 1</option>
                      <option>Menu 2</option>
                      <option>Menu 3</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="menu-item">Menu Item</label>
                    <select class="form-control" id="menu-item">
                      <option>Select Menu Item</option>
                      <option>Menu Item 1</option>
                      <option>Menu Item 2</option>
                      <option>Menu Item 3</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="menu-item-price">Menu Item Price</label>
                    <input type="text" class="form-control" id="menu-item-price" placeholder="Menu Item Price">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="menu-item-description">Menu Item Description</label>
                    <textarea class="form-control" id="menu-item-description" rows="3"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      
  </body>
</html>
