<div class="container-body">
  <div class="menu">
    <app-menu></app-menu>
  </div>

  <div class="tarjeta">
    <app-exercise style="margin: 10px"></app-exercise>
    <app-exercise style="margin: 10px" ></app-exercise>
    <app-exercise style="margin: 10px"></app-exercise>
    <app-exercise style="margin: 10px"></app-exercise>
    <app-exercise style="margin: 10px"></app-exercise>
    <app-exercise style="margin: 10px"></app-exercise>
    <app-exercise style="margin: 10px"></app-exercise>
    <app-exercise style="margin: 10px"></app-exercise>
    <app-exercise style="margin: 10px"></app-exercise>
  </div>
</div>
