<div class="container-body">
  <div class="exerciseLoaded">
    <app-exercise-upload></app-exercise-upload>
    <!-- <app-tarjeta-exercise-upload></app-tarjeta-exercise-upload> -->
  </div>
  <div class="selector-body">
    <app-selector></app-selector>
  </div>
  <div class="tarjeta">
    <div *ngFor="let exercise of exercises[0]">
      <app-exercise style="margin: 10px"  [image]="exercise?.gifUrl" [bodyPart]="exercise?.bodyPart" [equipment]="exercise?.equipment" [target]="exercise?.target" [name]="exercise?.name" [id]="exercise?.id"></app-exercise>
    </div>
  </div>
</div>
