<footer>
  <div class="container">
    <div class="izquierda box">
      <div class="titulo">Tecnologías utilizadas</div>
      <div class="fotos">
        <div class="foto">
          <img src="./assets/angular.png" alt="angular">
        </div>
        <div class="fotospec">
          <img src="./assets/spring.png" alt="spring">
        </div>
        <div class="foto">
          <img src="./assets/docker.png" alt="docker">
        </div>
      </div>
    </div>

    <div class="centro box">
      <p>Desarrollado por Guillermo Montalban Martinez para <br> la asignatura de Desarrollo rápido de aplicaciones<br>Copyright &copy; 2022 </p>
    </div>

    <div class="derecha box">
      <div class="titulo">Redes sociales</div>
      <div class="fotos">
        <div class="fotoizq">
          <a href="https://github.com/GuillermoMontalbanMartinez">
            <img src="./assets/logoGithub.png" alt="github">
          </a>
        </div>
        <div class="fotoder">
          <a href="https://es.linkedin.com/in/guillermo-montalban-mart%C3%ADnez-406278153">
            <img src="./assets/linkedin.png" alt="linkedin">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
